<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Langoal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container-fluid dsp-flex">
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12">
            <h1>Langoal Logo Goes Here</h1>
            <div class="bgModal">
                <form method="">
                    <div class="form-group">
                        <label class="formLabels">
                            Login
                        </label>
                        <input type="email" class="form-control" id="emailLogin" placeholder="Enter your email" />
                        <label class="formLabels">
                            Password
                        </label>
                        <input type="password" class="form-control" id="passwordLogin" placeholder="Enter your password" />
                    </div>
                    <button type="submit" class="btnLogin mt-30 mb-10">Login</button>
                </form>
                <button type="submit" class="btnForgot">Forgot My Password</button>
                <div class="mt-15 dsp-flex">
                    <p class="accountText">if you do not have an account click <span th:href="@{/register}" class="accountCreate">here</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>