<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Langoal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body class="loginBody">
<div class="container-fluid dsp-flex">
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12">
            <p>Enter your email and your new username</p>
            <div class="bgModal">
                <form method="post" th:action="@{username}" onsubmit="alert('Your username has been updated')">
                    <div class="form-group">
                        <label class="formLabels">
                            Email
                        </label>
                        <input type="email" class="form-control" name="email" placeholder="Enter your email"/>
                        <label class="formLabels">
                            Username
                        </label>
                        <input type="text" class="form-control" name="firstname" placeholder="Enter your new username"/>
                    </div>
                    <button type="submit" class="btnLogin mt-30 mb-10">Change Username</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</script>
</body>
</html>