<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Langoal</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link th:href="@{/css/style.css}" rel="stylesheet">
  <link
          href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
          rel="stylesheet"
  />
</head>
<body>

<div class="container-fluid d-flex">
  <div class="row flex-nowrap background flex-grow-1">

    <!-- SIDE BAR -->
      <div class="col-2 border sidebar">
          <div class="d-flex flex-column">
              <div class="row justify-content-center m-3">
                  <a th:href="@{/dashboard}" class="logo text-decoration-none"> Langoal </a>
              </div>
              <ul
                      class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-sm-start navigation"
              >
                  <li class="nav-item mb-2 w-100">
                      <a th:href="@{/account}" class="nav-link align-middle px-0">
                          <i class="fa-solid fa-user"></i>
                          <span class="nav-label">ACCOUNT</span>
                      </a>
                  </li>

                  <li class="nav-item mb-2">
                      <a th:href="@{/findpartner}" class="nav-link align-middle px-0">
                          <i class="fa-solid fa-magnifying-glass"></i>
                          <span class="nav-label">FIND PARTNER</span>
                      </a>
                  </li>
                  <li class="nav-item mb-2">
                      <a th:href="@{/premium}" class="nav-link align-middle px-0">
                          <i class="fa-solid fa-crown"></i>
                          <span class="nav-label">GET PREMIUM</span>
                      </a>
                  </li>
                  <li class="nav-item mb-2">
                      <a th:href="@{/settings}" class="nav-link align-middle px-0">
                          <i class="fa-solid fa-gear"></i>
                          <span class="nav-label">SETTINGS</span>
                      </a>
                  </li>
                  <li class="nav-item mb-2">
                      <a href="#" class="nav-link align-middle px-0">
                          <i class="fa-solid fa-arrow-right-from-bracket"></i>
                          <span class="nav-label">LOG OUT</span>
                      </a>
                  </li>
              </ul>
          </div>
      </div>

    <!-- MAIN PAGE -->
    <div class="col-9 main-page">

        <div class="container">
            <!-- USER SETTINGS -->
            <div class="row">
                <ul class="col d-flex flex-column user-settings">
                    <div class="d-flex flex-row justify-content-between">
                        <li>
                            Payment method
                        </li>
                        <span class="align-self-baseline">
                            <img src="img/arrow.png" alt="">
                        </span>
                    </div>

                    <div class="d-flex flex-row justify-content-between">
                        <li>
                            Change password
                        </li>
                        <span class="align-self-baseline">
                            <img src="img/arrow.png" alt="">
                        </span>
                    </div>

                    <div class="d-flex flex-row justify-content-between">
                        <li>
                            Change user name
                        </li>
                        <span class="align-self-baseline">
                            <img src="img/arrow.png" alt="">
                        </span>
                    </div>

                    <div class="d-flex flex-row justify-content-between">
                        <li>
                            Change email
                        </li>
                        <span class="align-self-baseline">
                            <img src="img/arrow.png" alt="">
                        </span>
                    </div>

                    <div class="d-flex flex-row justify-content-between">
                        <li>
                            Log Out
                        </li>
                        <span class="align-self-baseline">
                            <img src="img/arrow.png" alt="">
                        </span>
                    </div>
                </ul>
            </div>

        </div>
    </div>
  </div>
</div>

<script src="https://kit.fontawesome.com/4df5862945.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>