@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --confirmBtn: #0cce6b;
    --cancelBtn: #ef2d56;
    --sideBar: #ed7d3a;
    --iconColor: #dced31;
    --modalColor: #363537;
    --bgColor: #f2f2f2;
}

/*aux css pre defined classes*/

h1,h2,h3,h4,h5,h6,p,label {
    font-family: 'Quicksand';
}

.dsp-flex {
    display: flex;
    align-content: center;
    justify-content: center;
}

.dsp-between {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.dsp-around {
    display: flex;
    align-content: center;
    justify-content: space-around;
}


.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mr-5 {
    margin-top: 5px;
}

.mr-10 {
    margin-top: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.pd-5 {
    padding: 5px;
}

.pd-10 {
    padding: 10px;
}

.pd-15 {
    padding: 15px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

/*Login and Index page*/

.loginBody {
    background-image: linear-gradient(var(--sideBar), var(--bgColor));
    height: 100vh;
    align-items: center;
    display: flex;
}

.langoalLogo {
    font-family: 'Shadows Into Light Two'!important;
    font-size: 3rem;
    text-align: center;
}

.langoalSlogan {
    font-family: 'Shadows Into Light Two'!important;
    font-size: 16px;
    text-align: center;
}

.bgModal {
    background-color: var(--modalColor);
    height: auto;
    width: 100%;
    border-radius: 10px;
    padding: 15px;
}

.formLabels {
    color: var(--bgColor);
    margin-bottom: 10px;
    margin-top: 15px;
}

.userLabels {
    color: var(--modalColor);
    margin-bottom: 10px;
    margin-top: 15px;
}

.btnLogin {
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 40px;
    color: var(--bgColor);
    background-color: var(--confirmBtn);
    font-family: 'Quicksand';
}

.btnForgot {
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 40px;
    color: var(--bgColor);
    background-color: var(--cancelBtn);
    font-family: 'Quicksand';
}

.accountCreate {
    color: var(--sideBar);
    cursor: pointer;
    text-decoration: none !important;
}

.accountCreate:hover {
    color: var(--sideBar);
    cursor: pointer;
    text-decoration: none !important;
}

.accountText {
    color: var(--iconColor);
}

.border {
    border-radius: 20px;
}

.container-fluid {
    height: 100%;
}

.main-page {
    background-color: white;
    border-radius: 20px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sidebar {
    background-color: white;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.logo {
    font-family: "Shadows Into Light Two" !important;
    font-size: 2rem;
    text-align: center;
    color: black;
}
.nav-label {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}


.background {
    background-color: rgba(54, 53, 55, 0.1)
}

.navigation li {
    width: 100%;

}

.nav-item {
    font-size: 32px;
}

.nav-item > a {
    color: #363537;
}

.nav-item > a:hover {
    color: #363537;
}

.nav-item:hover {

    background-color: rgba(237, 125, 58, 0.1);
}
/* user account */

.user-container {
    border: 1px solid rgba(54, 53, 55, 0.3);
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
  }
  
  .user_img {
    width: 90px;
    height: 90px;
  }
  
  .tutor_img {
    width: 90px;
    height: 90px;
  }
  
  .btn-confirm {
    background-color: white;
    color: #0cce6b;
    border: 2px solid #0cce6b;
    border-radius: 50px;
    width: 100%;
    height: 30px;
    font-size: 15px;
    margin-right: 20px;
  }
  
  .btn-report {
    background-color: white;
    color: #ef2d56;
    border: 2px solid #ef2d56;
    border-radius: 50px;
    width: 100%;
    height: 30px;
    font-size: 15px;
  }
  
  .btn-report:hover {
    background-color: #ef2d56;
    color: white;
  }
  
  .btn-confirm:hover {
    background-color: #0cce6b;
    color: white;
  }
  
  .main-page-h {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #ed7d3a;
  }
  
  .main-page-p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #363537;
    font-weight: bold;
    margin: 0;
  }
  
  .list_languages {
    list-style: none;
  }
  
  .list_languages li {
    margin-right: 20px;
  }
  
  /* user settings page */
  
  .user-settings {
    list-style: none;
    border-radius: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
  }
  
  .user-settings li {
    /*border-bottom: 1px solid rgba(54, 53, 55, 0.3);*/
    font-size: 25px;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  
  .main-page-span {
    margin-left: 20px;
  }
  
  /* find partner page */
  
  .language_list a:hover {
    color: #ed7d3a;
  }
  
  .language_list a:active {
    color: white;
    background-color: #ed7d3a;
  }
  
  .toggle {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #363537;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;
  
  }
  
  .dropdown-toggle::after {
    margin-left: 60px;
  }
  .toggle:hover {
    color: rgba(54, 53, 55, 0.8)
  }
  
  .partner {
    background-color: #f8f8f8;
    border-radius: 20px;
  }
  
  .partner>div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  .partner>div:last-child {
    border-bottom: none;
  }

  /* find tutor */

.tutor-picture {
    max-width: 90px;
    max-height: 90px;
}

.select-time p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #363537;
    margin: 0;
}

.time-toogle {
    width: 115px;
    max-height: 30px;
}

.select-date p {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #363537;
    margin: 0;
}

.select-date input {
    width: 115px;
}

.btn-submit {
    background-color: white;
    color: #ed7d3a;
    border: 2px solid #ed7d3a;
    border-radius: 50px;
    width: 100%;
    height: 30px;
    font-size: 15px;
    margin-right: 20px;
}

.btn-submit:hover {
    background-color: #ed7d3a;
    color: white;

}
.btnMethod{
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 40px;
    color: var(--bgColor);
    background-color: var(--sideBar);
    font-family: 'Quicksand';
}

.btnUsername{
    width: 100%;
    border-radius: 5px;
    border: none;
    height: 40px;
    color: var(--bgColor);
    background-color: var(--modalColor);
    font-family: 'Quicksand';
}